<% if @admin.errors.any? %>
  <ul id="errors">
    <% @admin.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @admin do |f| %>
  <div>
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "part-width" %>
  </div>

  <% if (current_admin.super_admin && !@admin.super_admin) ||
    @admin == current_admin %>
  <div>
    <%= f.label :password %>
    <span class="small_text">(when updating, can be left blank)</span><br>
    <%= f.password_field :password, class: "part-width" %>
  </div>
  <div>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "part-width" %>
  </div>
  <% end %>

  <div>
    <%= f.label :description, "Description for band page" %>
    <span class="small_text">(optional, html-friendly)</span><br>
    <%= f.text_area :description, class: "full-width" %>
  </div>
  <% if params[:preview] %>
    Preview description:
    <div id="preview_text">
      <%= @admin.description.html_safe %>
    </div>
  <% end %>

  <% if current_admin.super_admin &&
    (@admin == current_admin || !@admin.super_admin) %>
  <div>
    <%= f.label :super_admin %>
    <%= f.check_box :super_admin %>
    <span class="small_text">(this cannot be undone by you!)</span><br>
  </div>
  <% end %>

  <%= f.submit "Cancel", name: "cancel" %>
  <%= f.submit "Preview description", name: "preview" %>
  <%= f.submit %>
<% end %>
