<%= form_for @shows_item do |f| %>
  <div>
    <%= f.label :name, "Venue name" %><br>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :webpage, "Venue webpage" %><br>
    <%= f.text_field :webpage %>
  </div>
  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :state, "State or Country" %><br>
    <%= f.text_field :state %>
  </div>
  <div>
    <%= f.label :date, "Date and time" %><br>
    <%= f.datetime_select :date, default: Time.now.at_end_of_day - 2.hours,
      ampm: true, minute_step: 15 %>
  </div>
  <div>
    <%= f.label :extra, "Any extra info" %><br>
    <%= f.text_field :extra %>
  </div>
  <%= f.submit %>
<% end %>
