<% if @shows_item.errors.any? %>
  <ul>
    <% @shows_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @shows_item do |f| %>
  <div>
    <%= f.label :name, "Venue name" %><br>
    <%= f.text_field :name, size: "52" %>
  </div>
  <div>
    <%= f.label :webpage, "Venue webpage" %><br>
    <%= f.text_field :webpage, size: "52" %>
  </div>
  <div>
    <%= f.label :city %><br>
    <%= f.text_field :city, size: "32" %>
  </div>
  <div>
    <%= f.label :state, "State or Country" %><br>
    <%= f.text_field :state, size: "32" %>
  </div>
  <div>
    <%= f.label :date, "Date and time" %><br>
    <%= f.datetime_select :date, default: Time.now.at_end_of_day - 2.hours,
      ampm: true, minute_step: 15 %>
  </div>
  <div>
    <%= f.label :extra, "Any extra info" %><br>
    <%= f.text_field :extra, size: "52" %>
  </div>
  <%= f.submit %>
<% end %>
