<%= form_for @news_item do |f| %>
  <div>
    <%= f.label :heading %><br>
    <%= f.text_field :heading, size: "52" %>
  </div>
  <div>
    <%= f.label :entry %><br>
    <%= f.text_area :entry, size: "48x4", style: "resize: none" %>
  </div>
  <% if @preview %>
    Preview entry<br>
    <blockquote><%= @news_item.entry.html_safe %></blockquote>
  <% end %>
  <%= f.submit "Preview", name: "preview" %>
  <%= f.submit %>
<% end %>


