<% if @news_item.errors.any? %>
  <ul id="errors">
    <% @news_item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @news_item do |f| %>
  <div>
    <%= f.label :heading %><br>
    <%= f.text_field :heading, class: "full-width" %>
  </div>
  <div>
    <%= f.label :entry %><br>
    <%= f.text_area :entry, class: "full-width" %>
  </div>
  <% if params[:preview] %>
    Preview entry<br>
    <blockquote><%= @news_item.entry.html_safe %></blockquote>
  <% end %>
  <%= f.submit "Preview entry", name: "preview" %>
  <%= f.submit %>
<% end %>
