<% if current_admin? %>
  <p><%= link_to "Post a news item", new_news_item_path %></p>
<% end %>

<% @news_items.each do |news_item| %>
  <div>
    <h3><%= news_item.heading %></h3>
    <h5>Posted by <%= news_item.admin_name %>
      <%= news_item.created_at.in_time_zone("Pacific Time (US & Canada)").
      strftime("on %b %d %Y at %-I:%M%P") %></h5>
    <div class="news_entry"><%= news_item.entry.html_safe %></div>
    <% if current_admin? %>
      <div id="admin_links">
        <%= link_to "update", edit_news_item_path(news_item) %>
        <%= link_to "delete", news_item_path(news_item),
          method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  </div>
<% end %>
<%= paginate @news_items %>
