<%= render "sidebar" %>

<div id="main_content">
  <h3><%= @project.title.html_safe %></h3>
  <div id="text_description">
    <%= @project.description.html_safe %>
  </div>

  <% if @admin == current_admin %>

  <div id="admin_span">
    <span><%= link_to "update", edit_project_path(@project) %> |
      <%= link_to "delete", project_path(@project),
      method: :delete, data: { confirm: "Are you sure?" } %></span>
  </div>

  <div id="admin_span">
    <%= form_for @project do |f| %>
      <span><%= f.submit "Move up", name: "order_up" %>
      <%= f.submit "Move down", name: "order_down" %>
      Order number is <%= @project.order_num %>.<span>
    <% end %>
  </div>

  <% end %>
</div>

