<header>
  <div id="admin_logged">
    <% if !Rails.env.production? %>
      <span>
      <% if current_admin.present? %>
        Howdy, <%= current_admin.name %>! |
          <%= link_to "Admins page", admins_path %> |
          <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Register", new_admin_path %> |
          <%= link_to "Login", login_path %>
      <% end %>
<!--       <% if session[:return_to].present? %>
        redirects back to: <%= session[:return_to].
          reverse.chomp("/0003:tsohlacol//:ptth").reverse %>
        couldn't figure out the opposite of chomp, haha
      <% end %> -->
      </span>
    <% end %>



  </div>
<!--   <div id="title_logo">
    <%= link_to image_tag("bobtail_b.gif"), root_path %>
  </div> -->
  <ul><h2>
    <% if @news_page %>
      <li class="picked_heading">News</li>
      <% else %>
      <li><%= link_to "News", news_items_path %></li>
    <% end %>
    <% if @lyrics_page %>
      <li class="picked_heading">Music</li>
      <% else %>
      <li><%= link_to "Music", lyrics_path %></li>
    <% end %>
    <% if @projects_page %>
      <li class="picked_heading">Band</li>
      <% else %>
      <li><%= link_to "Band", projects_path %></li>
    <% end %>
    <% if @shows_page %>
      <li class="picked_heading">Shows</li>
      <% else %>
      <li><%= link_to "Shows", shows_items_path %></li>
    <% end %>

  </h2></ul>
</header>
