<!DOCTYPE html>
<html>
<head>
  <title>BobtailApp</title>
  <link href='http://fonts.googleapis.com/css?family=Rancho|Fresca' rel='stylesheet'>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <%= render "layouts/header" %>
    <div id="content">
      <div id="notice"><%= notice %></div>
      <div id="alert"><%= alert %></div>
      <%= yield %>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
